<!-- <h1>.........................................................................Parent Template..............................................................</h1>
Name:<input type= "text" [(ngModel)]= "fname"/><br>
Enrolled:<input type="checkbox" [(ngModel)]= "enroll"><br>
Gender:<select name="Gender" [(ngModel)]= "gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
  </select><br><br>
  <button (click)="onClick()" class="external">Send</button>
  <p *ngIf="childMessage">Notification:{{childMessage}}</p> -->
  <!-- <br>
  <h2>List of Decline:</h2>
  <li *ngFor="let decline of declined">Name: {{decline.name}} Status:{{decline.status}} Gender:{{decline.gender}}</li>
  <hr>
  <app-child (childEvent)= "childMessage = $event" (declineEvent)="addDeclineInfo()" [fname] = "parent" [enroll] = "enr" [gender] = "gen"></app-child>   --> 