body{
    background-image: url("https://cdn.allwallpaper.in/wallpapers/640x960/12126/beautiful-blue-background-640x960-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}