<!-- <h1>..........................................................................Child Template..............................................................</h1>
<p>Fullname: {{fname}}</p><br>
<p>Enrolled:{{enroll}}</p><br>
<p>Gender:{{gender}}</p><br>
<button (click) ="approve()" class="external1"> Approved </button><button (click) ="decline()" class="external"> Decline </button>
<h2>List of Approved:</h2>
<li *ngFor="let person of people">Name: {{person.name}} Status: {{person.status}} Gender: {{person.gender}}</li>


 -->
